<div id="<%= dom_id po %>">
  <p>
    <strong>Nombre:</strong>
    <%= po.name %>
  </p>

  <p>
    <strong>Ruta:</strong>
    <%= po.ruta %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= po.address %>
  </p>

  <p>
    <strong>CP:</strong>
    <%= po.cp %>
  </p>

</div>
