
<div class="container mt-5">
  <h2>Sucursales</h2>
  
  <table class="table table-striped align-middle text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Ruta</th>
        <th>Direccion</th>
        <th>CP</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @pos.each do |po| %>
      <tr>
        <td><%= po.id %></td>
        <td><%= po.name %></td>
        <td><%= po.ruta %></td>
        <td><%= po.address %></td>
        <td><%= po.cp %></td>
         <div class="center">
        <td><%= link_to "Ver", po, class: "btn btn-outline-info btn-sm" %></td>
        <td><%= link_to "Editar", edit_po_path(po), class: "btn btn-outline-info btn-sm" %></td>
        <td><%= button_to "Eliminar", po, method: :delete, class: "btn btn-outline-danger btn-sm", onclick: "return confirm('Are you sure?');" %></td>
        
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Crear Sucursal", new_po_path, class: "btn btn-primary" %>