<div id="<%= dom_id product %>">
  <p>
    <strong>ID:</strong>
    <%= product.product_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= product.product_description %>
  </p>

  <p>
    <strong>Codigo de Barras:</strong>
    <%= product.barcode %>
  </p>

  <p>
    <strong>Unidad de Medida:</strong>
    <%= product.uom %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= product.price %>
  </p>

</div>
