<div class="container mt-4">
  <h2>Crear Envio</h2>
  
  <%= form_with model: @shipment, url: shipments_path, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :from_warehouse_id, "Origen", class: "form-label" %>
      <%= f.collection_select :from_warehouse_id, @warehouses, :id, :name, { prompt: "Select Warehouse" }, { class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.label :po_id, "Destino", class: "form-label" %>
      <%= f.collection_select :po_id, @pos, :id, :name, { prompt: "Select POS" }, { class: "form-control" } %>
    </div>

    <%= f.submit "Crear Envio", class: "btn btn-primary" %>
  <% end %>
</div>
