<p style="color: green"><%= notice %></p>

<%= render @warehouse %>

<div>
  <%= link_to "Editar", edit_warehouse_path(@warehouse) %> |
  <%= link_to "Regresar a Almacenes", warehouses_path %>

  <%= button_to "Eliminar Almacen", @warehouse, method: :delete %>
</div>
